doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title 素数じゃない数あつめ
  body(style="background-color:#fff0f5;")
    div(align="right")
      h3
        font(color="#b22222") 素数じゃない数あつめ
      a(href= "/home") → ホームへ戻る
      br
      a(href= '/list') → 別ページで集めた数字を見る
    
    h2(align="center")
      font(color="#8b4513") ランダムに出した数字を利用して素数じゃない数を探します。
    br  
    
    h2(align="center") 
      font(color="#8b4513") 調べた数字
    div(align="center" style="margin:10px 200px")
      h3 #{numbers1} 
    h2(align="center") 
      font(color="#8b4513") 結果
    div(align="center" style="margin:10px 200px") 
      h3 #{numbers2} 
    br
    br
    div(align="center")
      font(color="#8b4513") 
        strong
          |素数じゃない数が新しく#{kosuuInArray}個みつかりました！
          br
          | 今，みつかっているのは全部で#{total}個です。
          br 
          |※再読み込みをすると，また探します。
    br
    br
    
    h2(align="center") 
      font(color="#8b4513") --- これまでに集まったもの ---

    div(align="center" style="margin:10px 200px") 
      h3 #{numbers3}

    div(align="center")  --- 以上です --- 

    script (src="./lib/get-and-check.js")
    
    